<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.cchevalier.adnd.spotifystreamer" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TracksActivity"
            android:label="@string/title_activity_tracks"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.cchevalier.adnd.spotifystreamer.MainActivity" />
        </activity>

        <activity
            android:name=".PlayerActivity"
            android:label="@string/title_activity_player"
            android:launchMode="singleTop"
            android:parentActivityName=".TracksActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.cchevalier.adnd.spotifystreamer.TracksActivity" />
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTop">
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.cchevalier.adnd.spotifystreamer.MainActivity" />
            />
       </activity>

        <service
            android:name=".PlayerService"
            android:exported="false" >
        </service>


    </application>

</manifest>
